@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.App {
  font-family: 'Open Sans', 'serif';
  font-size: 14px;
  height: 100%;
  background-color: #e7f4ff;
}

.App-header {
  height: 50px;
  padding: 10px;
}

.App-title {
  cursor: pointer;
  width: fit-content;
}

.App-title:hover {
  text-decoration: underline;
}

.outerContainer {
  margin-top: 20px;
  height: calc(100% - 70px);
}

